<%
function bytesToMBs(bytes){
    return (bytes/1024/1024).toFixed(2)+' MBs'
}
%>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>matusaISP Monitor</title>

    <link rel="stylesheet" href='/css/bootstrap.css'>
    <link rel="stylesheet" href='/css/style.css'>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/smoothie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
        <%- include(page) %>
    </div>

  </body>
</html>